<!--The content below is only a placeholder and can be replaced.-->
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div class="container">
    <nav>
    <a routerLink="/estados" routerLinkActive="active">Esados</a>
    <a routerLink="/cidades" routerLinkActive="active">Cidades</a>
    </nav>
    <router-outlet></router-outlet>
    </div>

<router-outlet></router-outlet>
